{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_content %}
    <!-- start of modal -->
    {% if modal is defined and modal is not empty %}
        {{ include('agent/_modal.html.twig', { modal: modal } ) }}
    {% endif %}
    <!-- end of modal -->
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_title %}{{ 'Agent index'|trans }}{% endblock %}
                {% block box_tools %}
                <div class="pull-right">
                    <button class="btn btn-primary " data-toggle="modal" data-target="#modalEditNew"><i class="fa fa-plus-square"></i> {{ 'Create new'|trans }}</button>
                </div>
                {% endblock %}
                {% block box_body %}
                    <div id="agents">{{ 'Loading'|trans }}...</div>
                {% endblock %}
                {% block box_footer %}{% endblock %}
                {% block box_after %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/preview/scrollToTop/dataTables.scrollToTop.min.js"></script>

    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script type="text/javascript">
    $(function() {
        $('#agents').initDataTables({{ datatable_settings(datatable) }}, {
            dom: '<lfiPtBp>',
            searching: true,
            serverSide: true,
            processing: true,
            scrollToTop: true,
            buttons: [
                'print',
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        })
    });
    </script>
{% endblock %}
