{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_content %}
    <!-- start of modal -->
    {% if modal is defined and modal is not empty %}
        {{ include('agent/_modal.html.twig', { modal: modal } ) }}
    {% endif %}
    <!-- end of modal -->
    {% if modalDelete is defined and modalDelete is not empty %}
        {{ include('agent/_modal_delete.html.twig', { modal: modalDelete } ) }}
    {% endif %}
    <!-- end of modal -->

    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_title %}{{ 'Agent'|trans }}{% endblock %}
                {% block box_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <td>{{ agent.code }}</td>
            </tr>
            <tr>
                <th>{{ 'Nom'|trans }}</th>
                <td>{{ agent.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'Prenom'|trans }}</th>
                <td>{{ agent.prenom }}</td>
            </tr>
            <tr>
                <th>{{ 'Mail'|trans }}</th>
                <td>{{ agent.mail }}</td>
            </tr>
            <tr>
                <th>{{ 'Actif'|trans }}</th>
                <td>{{ agent.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'CreatedAt'|trans }}</th>
                <td>{{ agent.createdAt ? agent.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'UpdatedAt'|trans }}</th>
                <td>{{ agent.updatedAt ? agent.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        <button class="btn btn-primary "data-toggle="modal" data-target="#modalEditNew"><i class='fas fa-edit'></i> {{ 'Edit'|trans }}</button>
                        <a class="btn btn-warning " href="{{ path('agent_index') }}"><i class='fas fa-arrow-alt-circle-left'></i> {{ 'Back to list'|trans }}</a>
                        <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#modalDelete"><i class='fas fa-trash'></i> {{ 'Delete'|trans }}</button>
                    </div>
                {% endblock %}
                {% block box_after %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
